<!--UT: Notification page:
        - notify the tasks due in 14 days
        - notify if the task is overdue-->

{% extends 'base.html' %}

{% load todo_extras %}

{% block title %}Notifications{% endblock %}

{% block content %}
    {% csrf_token %}
    <h3 class="alert alert-dark">For your attention</h3>
    {% for todo in todos %}
        <div id="{{ todo.id }}" class="alert alert-light" style="border-color:darkgrey; padding-left: 0">
            <ul style="list-style-type: none">
                <li><a href=""><b>{{ todo.taskName|truncatewords:10 }}</b></a></li>
                <li>Project: <a href="">{{ todo.project.projectName }}</a></li>
                <li>
                    Priority: {{ todo|displayName:'taskPriority'}}
                     - Due date: {{ todo.taskDueDate|date:"d/m/Y" }}
                </li>
                <li>
                    {% if todo.is_overdue %}
                     <span class="alert-danger" >Overdue !</span>
                    {% endif %}
                </li>
            </ul>
        </div>
    {% endfor %}
{% endblock %}