<!--UT: Notification page:
        - notify the tasks due in 14 days
        - notify the new project assigned in the last 7 days-->

{% extends 'base.html' %}

{% block title %}Notifications{% endblock %}

{% block content %}
  <h2>Notifications</h2>
    {% csrf_token %}
    <h3>Tasks due in 14 days</h3>
    {% for todo in todos %}
        <div id="{{ todo.id }}" class="notification_entry">
            <ul>
                <li><a href="">{{ todo.taskName|truncatewords:10 }}</a></li>
                <li>{{ todo.taskPriority}}</li>
                <li>
                    <span {% if todo.overdue_status %} class="overdue"{% endif %}>
                        {{ todo.taskDueDate|date:"m/d/Y" }}
                    </span>
                </li>
            </ul>
        </div>
    {% endfor %}
{% endblock %}