{% extends '../base.html' %}
{% block title %}Mytasks{% endblock %}
{% block content %}
{% load static %}
{% load todo_extras %}
<link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}">
<h1>Tasks assigned to me (in all groups)</h1>
<p class = "botton"><a href = "/todo/create/">Create</a></p>
    <table class="table" id="tasktable">
        <thead>
            <tr class="nodrop">
                <th>Task</th>
                <th>Assigned to</th>
                <th>Due on</th>
                <th>Priority</th>
                <th>Project</th>
                <th>Description</th>
                <th>Status</th>
                <th colspan="2">Modify</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in todo_list %}
            {% if request.todo.employee_id == request.user.id %}
            <tr>
                <td><a href="/todo/{{ todo.id }}/">{{ todo.taskName }}</a></td>
                <td>{{ todo.employee }}</td>
                <td>{{ todo.taskDueDate }}</td>
                <td>{{ todo|displayName:'taskPriority' }}</td>
                <td>{{ todo.project }}</td>
                <td>{{ todo.taskDescription }}</td>
                <td>{% if todo.taskComplete %}
                    Done
                    {% else %}
                    Ongoing
                    {% endif %}
                </td>
                <td><a href="/todo/{{todo.id}}/update/">Edit</a></td>
                <td><a href="/todo/{{todo.id}}/delete/">Delete</a></td>
            </tr>
            {% endif %}
            {% empty %}
            You don't have tasks now.
            {% endfor %}
        </tbody>
{% endblock %}

