{% extends '../base.html' %}
{% block title %}Search{% endblock %}
{% block content %}
{% load static %}
{% load todo_extras %}
<link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}">
<h1>Search Results</h1>
{% if error_msg %}
    <p class="para">{{ error_msg }}</p>
{% else %}
    {% if found_tasks %}
            <h2>{{ found_tasks.count }} search results for "{{ query_string }}"</h2>
            <div class="post_list">
                {% for todo in found_tasks %}
                <p>
                <strong>
                    <a href="/todo/{{ todo.id }}/">{{ todo.taskName }}</a>
                </strong>
                <br />
                <span class="minor" style="text-transform: capitalize;">
                    Project:
                    <a href="/todo/myproject/{{ todo.project.id }}/">{{ todo.project }}</a>
                    <br /> Created by: {{ todo.taskCreate }}
                    <br /> Status: 
                    {% if todo.taskComplete %}
                    <span class="alert-success badge badge-primary badge-pill">Done</span>
                    {% elif todo.is_overdue %}
                    <span class="alert-danger badge badge-primary badge-pill">Overdue</span>
                    {% else %}
                    <span class="alert-warning badge badge-primary badge-pill">Ongoing</span>
                    {% endif %}
                </span>
                </p>
            {% endfor %}
        </div>
    {% else %}
        <h3> No result found for "{{ query_string }}"</h3>
    {% endif %}
{% endif %}
{% endblock %}