{% extends '../base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% load static %}
{% load todo_extras %}
<link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}">

    <h1>Create new task</h1>
    <div class="form-control">
        <Form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <p><button type="submit" class = "btn btn-primary">create</button>
                <a href="/todo/mytask/" class = "btn btn-danger">cancel</a></p>
        </Form>
    </div>
{% endblock %}


