{% extends '../base.html' %}
{% block title %}My Project Detail{% endblock %}
{% block content %}
{% load static %}
{% load todo_extras %}
<link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}">





{% for todo in todo_list %}
{% if forloop.first %}
<h1>Tasks in {{todo.project}}</h1>

<div class="card-deck">
    <div class="card col-sm-8">
      <div class="card-body">
        <h3 class="card-title">{{ todo.project }}</h3>
        {% endif %}
{% endfor %}
{% for project in project_list %}
<!--unfinished yet-->
{% if request.id == Project.id %} 
  
        <div class="card-text">{{ project.projectDescription }}</div>
        {% endif %}      
<!--unfinished yet-->
 {% endfor %}     
      </div>
    </div>
</div>

    <table class="table" id="tasktable">
        <thead>
            <tr class="nodrop">
                <th>Task</th>
                <th>Assigned to</th>
                <th>Due on</th>
                <th>Priority</th>
                <th>Project</th>
                <th>Description</th>
                <th>Status</th>
                <th colspan="2">Modify</th>
            </tr>
        </thead>
            {% for todo in todo_list %}
            
            <tr>
                <td><a href="/todo/{{ todo.id }}/">{{ todo.taskName }}</a></td>
                <td>{{ todo.employee }}</td>
                <td>{{ todo.taskDueDate }}</td>
                <td>{{ todo|displayName:'taskPriority' }}</td>
                <td>{{ todo.project }}</td>
                <td>{{ todo.taskDescription }}</td>
                <td>{% if todo.taskComplete %}
                    Done
                    {% else %}
                    Ongoing
                    {% endif %}
                </td>
                <td><a href="/todo/{{todo.id}}/update/">Edit</a></td>
                <td><a href="/todo/{{todo.id}}/delete/">Delete</a></td>
            </tr>
            
            {% endfor %}
        </tbody>
{% endblock %}