{% extends '../base.html' %}

<!--{% block title %}Home{% endblock %}-->

<!--by Nicole-->

{% block content %}
{% load static %}
{% load todo_extras %}
<link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}">

{% if request.user.is_authenticated %}
<h4 style="text-transform:capitalize;">Hi, {{ request.user.username }}</h4>
{% else %}
<h4>Hi, please login</h4>
{% endif %}


<h1>All Projects in P&NP</h1>
<a href = "/todo/myproject/create/" class = "btn btn-primary" style="float: right; margin-left: 1em ;">Create a new project</a>
<a href = "/todo/create/" class = "btn btn-primary" style="float: right;">Create a new task</a>


           
    {% regroup todo_list by project as project_list %}     
    
        {% for project in project_list %}       
        <h3 style=" margin-bottom: 1em ;">Project: <a href = "myproject/{{ project.grouper.id }}" >{{ project.grouper }}</a></h3> 
               
                  
        {% for task in project.list %}
        <ul>
            <li class="list-group-item d-flex justify-content-between align-items-center" ><a href = "{{ task.id }}">{{ task.taskName }}</a>
            {% if task.taskComplete %}    
            <span class="alert-success badge badge-primary badge-pill">Done</span>   
                {% elif task.is_overdue %}
            <span class="alert-danger badge badge-primary badge-pill">Overdue</span>       
                    {% else %}
            <span class="alert-warning badge badge-primary badge-pill">Ongoing</span> 

            </li>                     
            {% endif %}   
            <!--##Nicole, class="alert..." refer to https://getbootstrap.com/docs/4.1/components/alerts/-->            
        </ul>
          
        {% endfor %}
    
        {% endfor %}


           

       </tbody>  
    </table>




{% endblock %}