{% extends '../base.html' %}
{% block title %}Mytasks{% endblock %}
{% block content %}
{% load static %}
{% load todo_extras %}
<link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}">
<h1>Tasks assigned to me (in all groups)</h1>
<p><a href = "/todo/create/" class = "btn btn-primary">Create</a></p>
    <table class="table" id="tasktable">
        <thead>
            <tr class="nodrop">
                <th>Task</th>
                <th>Created by</th>
                <th>Due on <a href="/todo/sortdate/" class="tableselect"> &#x2193</a></th>
                <th>Priority <a href="/todo/sortp/" class="tableselect"> &#x2193</a></th>
                <th>Project</th>
                <th>Status</th>
                <th colspan="2">Modify</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in todo_list %}
            {% if not request.user.is_superuser %}
            {% if todo.employee_id == request.user.id %}
            <tr>
                <td><a href="/todo/{{ todo.id }}/">{{ todo.taskName }}</a></td>
                <td>{{ todo.taskCreate }}</td>
                <td>{{ todo.taskDueDate }}</td>
                <td>{{ todo|displayName:'taskPriority' }}</td>
                <td><a href="/todo/myproject/{{ todo.project.id }}/">{{ todo.project }}</a></td>
                <td>{% if todo.taskComplete %}
                    <span class="alert-success">Done</span>
                    {% elif todo.is_overdue %}
                    <span class="alert-danger">Overdue</span>
                    {% else %}
                    <span class="alert-warning">Ongoing</span>
                    {% endif %}
                </td>
                <td><a href="/todo/{{todo.id}}/update/" class = "btn btn-success">Edit</a></td>
                {% if request.user.id == todo.taskCreate_id or request.user.id == project.projectCreate_id %}
                <td><a href="/todo/{{todo.id}}/delete/" class = "btn btn-danger">Delete</a></td>
                {% endif %}
            </tr>
            {% endif %}
            {% else %}
            <tr>
                <td><a href="/todo/{{ todo.id }}/">{{ todo.taskName }}</a></td>
                <td>{{ todo.taskCreate }}</td>
                <td>{{ todo.taskDueDate }}</td>
                <td>{{ todo|displayName:'taskPriority' }}</td>
                <td>{{ todo.project }}</td>
                <td>{% if todo.taskComplete %}
                    Done
                    {% else %}
                    Ongoing
                    {% endif %}
                </td>
                <td><a href="/todo/{{todo.id}}/update/" class = "btn btn-success">Edit</a></td>
                {% if request.user.id == todo.taskCreate_id or request.user.id == project.projectCreate_id %}
                <td><a href="/todo/{{todo.id}}/delete/" class = "btn btn-danger">Delete</a></td>
                {% endif %}
            </tr>
            {% endif %}
            {% empty %}
            <p class="para">You don't have any task now.</p>
            {% endfor %}
        </tbody>
{% endblock %}

