{% extends '../base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% load static %}
{% load todo_extras %}
<h1>Projects assigned to me</h1>
<p class = "botton"><a href = "myproject/create/">Create</a></p>
    <table class="table" id="tasktable">
      <tr class="nodrop">
        <th>Project</th>
        <th>Create</th>
        <th>Creation Date</th>
        <th>Due on</th>
        <th>Description</th>
        <th colspan="2">Modify</th>
      </tr>

      {% for project in project_list %}
      <tr>
          <td><a href="/myproject/{{ project.id }}/">{{ project.projectName }}</a></td>
          <td>{{ project.projectCreate }}</td>
          <td>{{ project.creationDate }}</td>
          <td>{{ project.endDate}}</td>
          <td>{{ project.projectDescription }}</td>
          <td><a href="/myproject/{{project.id}}/update/">Edit</a></td>
          <td><a href="/myproject/{{project.id}}/delete/">Delete</a></td>
      </tr>
      {% endfor %}
    </table>
{% endblock %}