<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to-do list</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        <h4>Hi, {{ request.user.username }}</h4>
    {% else %}
        <h4>Hi, please login</h4>
    {% endif %}
    <a href = "/create/">Create a new task</a>
    <ul>
        {% for todo in todo_list %}
            <li><a href="/{{ todo.id }}/">{{ todo.taskName }}</a>, due date is {{ todo.taskDueDate }}</li>
        {% endfor %}
    </ul>
</body>
</html>

